.data-range__control {
  &--label {
    font-size: 14px;
    color: #ea526f;
    margin: 10px 10px 10px 0;
  }
  input {
    border-radius: 5px;
    border: none;
    width: auto;
    height: 25px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 550px) {
  .data-range__control {
    line-height: 35px;
  }
}
