.data-range__control {
  &--label {
    font-size: 14px;
    color: #25ced1;
    margin: 10px 10px 10px 0;
  }
  input {
    border-radius: 5px;
    border: none;
    width: auto;
    height: 25px;
    margin-right: 5px;
  }
}
